<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.o">
        <link rel="stylesheet" type="text/css" href="/style.css">

        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Node | <%=title%></title>
    </head>
    <body>  
        <nav>
            <ul>
                <li><a href="/">Go to functions page</a></li>
            </ul>
        </nav>

        <div>
            <ol class= "customers" id="customers">
                <% if (customers.length > 0 ){%>
                    <% customers.forEach(customer => {%>
                        <h3>Name: </h3>
                        <a href="/reports/<%= customer.email%>"><%=customer.name%> <%=customer.lastName%></a>
                        <h3>Email:</h3> 
                        <%=customer.email%>
                        <h3>Start Date :</h3> 
                        <P><%=customer.date%></P>
                        <br>    
                        <hr>
                        <br>
                    <% }) %>
                <% } %>
            </ol>
        </div>
    </body>
</html>