<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.o">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/style.css">

        <title>Node | <%=title%></title>
    </head>
    <body>  
        <nav>
            <ul>
                <li><a href="/">Go to functions page</a></li>
            </ul>
        </nav>

        <div>
            <ol class= "employees" id="employees">
                <% if (employees.length > 0 ){%>
                    <% employees.forEach(employee => {%>
                        <h3>Name: </h3>
                        <%=employee.name%> <%=employee.lastName%>
                        <h3>Email:</h3> 
                        <%=employee.email%>
                        <h3>Position:</h3> 
                        <P><%=employee.position%></P>
                        <h3>Start Date :</h3> 
                        <P><%=employee.startDate%></P>
                        <br>    
                        <hr>
                        <br>
                    <% }) %>
                <% } %>
            </ol>
        </div>
    </body>
</html>